name: Check dist/

on:
  workflow_dispatch:

  push:
    branches: '*'
    paths-ignore: '**.md'

  pull_request:
    paths-ignore: '**.md'

jobs:
  check-dist:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup pnpm
        uses: pnpm/action-setup@v4.2.0
        with:
          version: 6.32.x

      - name: Setup NodeJS
        uses: actions/setup-node@v6
        with:
          node-version: 16.x

      - name: Cache pnpm store
        id: cache-node-modules
        uses: actions/cache@v5
        with:
          path: |
            ./node_modules
            ~/.pnpm-store
          key: ${{ env.preffix }}-cache-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ env.preffix }}-cache-
            ${{ env.preffix }}-
        env:
          preffix: code-check

      - name: Install dependencies
        if: steps.cache-node-modules.outputs.cache-hit != 'true'
        run: pnpm i

      - name: Rebuild the dist/ directory
        run: pnpm run build

      - name: Compare the expected and actual dist/ directories
        run: |
          if [ "$(git diff --ignore-space-at-eol dist/ | wc -l)" -gt "0" ]; then
            echo "Detected uncommitted changes after build.  See status below:"
            git diff
            exit 1
          fi
        id: diff

      # If index.js was different than expected, upload the expected version as an artifact
      - uses: actions/upload-artifact@v7
        if: ${{ failure() && steps.diff.conclusion == 'failure' }}
        with:
          name: dist
          path: dist/
